{% extends '@App/layout.html.twig' %}

{% block breadcrumbs %}
    {% set locale = app.request.get('_locale') %}
    <div class="row">
        <ol class="breadcrumb" id="myBreadcrumb">
            <li><a href="{{ path('app_homepage') }}">Home</a></li>
            <li class="active">
                {{ "product.wishlist"|trans }}
            </li>
        </ol>
    </div>

{% endblock %}

{% block content %}
    {% set locale = app.request.get('_locale') %}
    {% if app.request.cookies.get('view') %}
        {% set view = app.request.cookies.get('view')  %}
    {% else %}
        {% set view = 'grid' %}
    {% endif %}
    {#{% set sort =  app.request.query.get("sort") %}#}
    <div class="row">
        <div class="col-xs-12">
            <h2 class="mainCat">
                {{ "product.search_results"|trans }}
            </h2>
        </div>

        <div class="col-xs-12">
            <div class="row">
                <div class="products">
                    {% for product in products  %}
                        {% if view == 'grid' %}
                            <div class="col-md-4">
                                <div class="oneProduct">
                                    <div class="divImg text-center">
                                        <a href="{{ path('app_single_product', {'category': product.category.slug, 'slug': product.slug}) }}">
                                            <img src="{% path product.image, 'big' %}" alt="Product">
                                        </a>
                                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                            <a href="javascript:void(0)" onclick="removeWish({{ product.id }},'wish')" id="awish{{ product.id }}">
                                                <span class="pull-right wishlist">
                                                    <i class="fa fa-remove" aria-hidden="true" id="wish{{ product.id }}"></i>
                                                </span>
                                            </a>
                                        {% endif %}
                                    </div>

                                    <div class="product-title">
                                        <div class="product-name">
                                            <a href="{{ path('app_single_product', {'category': product.category.slug, 'slug': product.slug}) }}">
                                                {% if locale == 'en' %}
                                                    {{ product.creator.titleEng }}<br>
                                                    {{ product.titleEng }}
                                                {% elseif locale == 'ru' %}
                                                    {{ product.creator.titleRus }}<br>
                                                    {{ product.titleRus }}
                                                {% elseif locale == 'am' %}
                                                    {{ product.creator.titleArm }}<br>
                                                    {{ product.titleArm }}
                                                {% endif %}
                                            </a>
                                        </div>
                                    </div>
                                    <span class="product-price">
                                        <span class="product-price-item">
                                            ${{ product.price }}
                                        </span>
                                    </span>
                                </div>
                            </div>
                        {% elseif view == 'list' %}
                            <div class="col-md-12">
                                <div class="listOneProduct">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="divImg text-center">
                                                <a href="{{ path('app_single_product', {'category': product.category.slug, 'slug': product.slug}) }}">
                                                    <img src="{% path product.image, 'big' %}" alt="Product">
                                                </a>
                                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                                    {% if product in wishes %}
                                                        <a href="javascript:void(0)" onclick="removeWish({{ product.id }})" id="awish{{ product.id }}">
                                                            <span class="pull-right mr0 wishlist">
                                                                <i class="fa fa-heart" aria-hidden="true" id="wish{{ product.id }}"></i>
                                                            </span>
                                                        </a>
                                                    {% else %}
                                                        <a href="javascript:void(0)" onclick="addWish({{ product.id }})" id="awish{{ product.id }}">
                                                            <span class="pull-right mr0 wishlist">
                                                                <i class="fa fa-heart-o" aria-hidden="true" id="wish{{ product.id }}"></i>
                                                            </span>
                                                        </a>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="product-title-list">
                                                <div class="product-name">
                                                    {% if locale == 'en' %}
                                                        {{ product.creator.titleEng }}<br>
                                                        {{ product.titleEng }}
                                                    {% elseif locale == 'ru' %}
                                                        {{ product.creator.titleRus }}<br>
                                                        {{ product.titleRus }}
                                                    {% elseif locale == 'am' %}
                                                        {{ product.creator.titleArm }}<br>
                                                        {{ product.titleArm }}
                                                    {% endif %}
                                                </div>
                                            </div>
                                            {% if product.price is not null %}
                                                <span class="product-price">
                                                <span class="product-price-item p0">
                                                    ${{ product.price }}
                                                </span>
                                            </span>
                                            {% endif %}

                                        </div>
                                        <div class="col-md-4">
                                            <div class="buttons text-center">
                                                <a href="{{ path('app_single_product', {'category': product.category.slug, 'slug': product.slug}) }}"
                                                   class="btn btn-gold btn-lg mt15">{{ "product.viewDeatils"|trans|upper }}</a>
                                                {% if product.price is null %}
                                                    <a href="#" class="btn btn-gold-white btn-lg mt15">{{ "product.makeOffer"|trans|upper }}</a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascriptsBottom %}
    {{ parent() }}
    <script>
        function SetCookie(c_name,value,expiredays)
        {
            var exdate=new Date();
            exdate.setDate(exdate.getDate()+expiredays);
            document.cookie=c_name+ "=" +escape(value)+ ((expiredays==null) ? "" : ";expires="+exdate.toGMTString());
            location.reload();
        }
    </script>

    <script src="{{ asset('js/filter.js') }}"></script>
{% endblock %}