{% extends '@App/layout.html.twig' %}

{% block breadcrumbs %}
    {% set locale = app.request.get('_locale') %}
    <div class="row">
        <ol class="breadcrumb" id="myBreadcrumb">
            <li><a href="{{ path('app_homepage') }}">Home</a></li>
            {% if category.parent %}
                <li>
                    <a href="{{ path('app_products', {'category': category.parent.slug}) }}">
                        {% if locale == 'en' %}
                            {{ category.parent.titleEng }}
                        {% elseif locale == 'ru' %}
                            {{ category.parent.titleRus }}
                        {% elseif locale == 'am' %}
                            {{ category.parent.titleArm }}
                        {% endif %}
                    </a>
                </li>
            {% endif %}
           {# <li>
                <a href="{{ path('app_products', {'category': category.slug}) }}">
                    {% if locale == 'en' %}
                        {{ category.titleEng }}
                    {% elseif locale == 'ru' %}
                        {{ category.titleRus }}
                    {% elseif locale == 'am' %}
                        {{ category.titleArm }}
                    {% endif %}
                </a>
            </li>#}
            <li class="active">
                {% if locale == 'en' %}
                    {{ category.titleEng }}
                {% elseif locale == 'ru' %}
                    {{ category.titleRus }}
                {% elseif locale == 'am' %}
                    {{ category.titleArm }}
                {% endif %}
            </li>
        </ol>
    </div>

{% endblock %}

{% block content %}
    {% set locale = app.request.get('_locale') %}
    {{ render(controller("AppBundle:Categories:catByCat",{'category': category})) }}
    <div class="row">
        <div class="col-xs-12">
            <div class="text-center">
                <h2 class="module-header">
                    {% if locale == 'en' %}
                        {{ category.titleEng }}
                    {% elseif locale == 'ru' %}
                        {{ category.titleRus }}
                    {% elseif locale == 'am' %}
                        {{ category.titleArm }}
                    {% endif %}
                </h2>
            </div>

        </div>

        <div class="col-sm-4 col-md-4">
{#
            {{ render(controller('AppBundle:Filters:index',{'category' : filterCategory, 'slug' : filterSlug, 'products': products})) }}
#}
            {% include '@App/Filters/filters.html.twig' %}
        </div>
        <div class="col-sm-8 col-md-8">
            {% include "AppBundle:Products:productList.html.twig" %}
        </div>
    </div>
{% endblock %}

{% block javascriptsBottom %}
    {{ parent() }}
    <script>
        function SetCookie(c_name,value,expiredays)
        {
            var exdate=new Date();
            exdate.setDate(exdate.getDate()+expiredays);
            document.cookie=c_name+ "=" +escape(value)+ ((expiredays==null) ? "" : ";expires="+exdate.toGMTString());
            location.reload();
        }
    </script>

    <script src="{{ asset('js/filter.js') }}"></script>
{% endblock %}
