{% extends '@App/layout.html.twig' %}

{% block breadcrumbs %}
    {% set locale = app.request.get('_locale') %}
    <div class="row">
        <ol class="breadcrumb" id="myBreadcrumb">
            <li><a href="{{ path('app_homepage') }}">Home</a></li>
            {% if category.parent %}
                <li>
                    <a href="{{ path('app_category', {'slug': category.parent.slug}) }}">
                        {% if locale == 'en' %}
                            {{ category.parent.titleEng }}
                        {% elseif locale == 'ru' %}
                            {{ category.parent.titleRus }}
                        {% elseif locale == 'am' %}
                            {{ category.parent.titleArm }}
                        {% endif %}
                    </a>
                </li>
            {% endif %}
            <li>
                <a href="{{ path('app_category', {'slug': category.slug}) }}">
                    {% if locale == 'en' %}
                        {{ category.titleEng }}
                    {% elseif locale == 'ru' %}
                        {{ category.titleRus }}
                    {% elseif locale == 'am' %}
                        {{ category.titleArm }}
                    {% endif %}
                </a>
            </li>
            <li class="active">
                {% if locale == 'en' %}
                    {{ lastCategory.titleEng }}
                {% elseif locale == 'ru' %}
                    {{ lastCategory.titleRus }}
                {% elseif locale == 'am' %}
                    {{ lastCategory.titleArm }}
                {% endif %}
            </li>
        </ol>
    </div>

{% endblock %}

{% block content %}
    {% set locale = app.request.get('_locale') %}
    {% if app.request.cookies.get('view') %}
        {% set view = app.request.cookies.get('view')  %}
    {% else %}
        {% set view = 'grid' %}
    {% endif %}
    {#{% set sort =  app.request.query.get("sort") %}#}
    <div class="row">
        <div class="col-xs-12">
            <h2 class="mainCat">
                {% if locale == 'en' %}
                    {{ lastCategory.titleEng }}
                {% elseif locale == 'ru' %}
                    {{ lastCategory.titleRus }}
                {% elseif locale == 'am' %}
                    {{ lastCategory.titleArm }}
                {% endif %}
            </h2>
            <div class="pull-right sorting">
                <form action="" method="get" class="pull-left" id="rightFilterForm">
                    <label for="sortProducts"><span class="sortBy">{{ "product.sortBy"|trans }}</span></label>
                    <select name="sort" id="sortProducts" onchange="this.form.submit() {#onchange="addSort(this)#}">
                        <option value="newest" {% if sort == 'newest' %}selected{% endif %}>{{ "product.newest"|trans }}</option>
                        <option value="price-high" {% if sort == 'price-high' %}selected{% endif %}>{{ "product.priceHL"|trans }}</option>
                        <option value="price-low" {% if sort == 'price-low' %}selected{% endif %}>{{ "product.priceLH"|trans }}</option>
                    </select>
                </form>
                <ul id="gridView" class="pull-right">
                    <li {% if view == 'grid' %} class="active"{% endif %}>
                        <a href="javascript:void(0)" class="forIcons" onClick="SetCookie('view','grid','1')">
                            <i class="fa fa-th-large" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li {% if view == 'list' %} class="active"{% endif %}>
                        <a href="javascript:void(0)" class="forIcons" onClick="SetCookie('view','list','1')">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>


            </div>
        </div>

        <div class="col-sm-3 col-md-3">
            {{ render(controller('AppBundle:Filters:index',{'category' : filterCategory, 'slug' : filterSlug, 'products': products})) }}
        </div>
        <div class="col-sm-9 col-md-9">
            {% include "AppBundle:Products:productList.html.twig" %}
        </div>
    </div>
{% endblock %}

{% block javascriptsBottom %}
    {{ parent() }}
    <script>
        function SetCookie(c_name,value,expiredays)
        {
            var exdate=new Date();
            exdate.setDate(exdate.getDate()+expiredays);
            document.cookie=c_name+ "=" +escape(value)+ ((expiredays==null) ? "" : ";expires="+exdate.toGMTString());
            location.reload();
        }
    </script>

    <script src="{{ asset('js/filter.js') }}"></script>
{% endblock %}