<div id="newArrivals" class="text-center">
    <div class="row">
        <div class="col-xs-12">
            {% set locale = app.request.get('_locale') %}
            <div class="text-center">
                <h2 class="module-header">
                    {% if locale == 'en' %}
                        {{ title.titleEng }}
                    {% endif %}
                    {% if locale == 'ru' %}
                        {{ title.titleRus }}
                    {% endif %}
                    {% if locale == 'am' %}
                        {{ title.titleArm }}
                    {% endif %}
                </h2>
            </div>
            {% set first = products|slice(0,5)|first %}
            {% set second = products|slice(5,5)|first %}
            <div class="newArrivals owl-carousel owl-theme ">
                <div class="item topCarousel arrivals_item">
                    <div class="left_big_square">
                        <a href="{{ path('app_products', {'category': first.category.parent.slug, 'slug' : first.category.slug } ) }}">
                            <img src="{% path first.category.image, "big" %}" alt="first.category.titleEng"
                             class="left_image">
                        </a>
                    </div>
                    <div class="right_big_square">
                        {% for product in products|slice(0,4) %}

                            <div class="right_small_square">
                                <a href="{{ path('app_single_product', {'category': product.category.slug, 'slug': product.slug}) }}">

                                <p class="text-center right_small_text">
                                    {% if locale == 'en' %}
                                        {{ product.titleEng }}
                                    {% endif %}
                                    {% if locale == 'ru' %}
                                        {{ product.titleRus }}
                                    {% endif %}
                                    {% if locale == 'am' %}
                                        {{ product.titleArm }}
                                    {% endif %}
                                </p>
                                    <img src="{% path product.image, 'big' %}" alt="">
                                <span class="vMore">{{ "product.viewAll"|trans|upper }}</span>
                                </a>
                            </div>

                        {% endfor %}

                    </div>

                </div>
                <div class="item topCarousel arrivals_item">
                    <div class="left_big_square">
                        <a href="{{ path('app_products', {'category': first.category.parent.slug, 'slug' : first.category.slug } ) }}">
                            <img src="{% path first.category.image, "big" %}" alt="first.category.titleEng"
                                 class="left_image">
                        </a>
                    </div>
                    <div class="right_big_square">
                        {% for product in products|slice(6,4) %}

                            <div class="right_small_square">
                                <a href="{{ path('app_single_product', {'category': product.category.slug, 'slug': product.slug}) }}">
                                <p class="text-center right_small_text">
                                    {% if locale == 'en' %}
                                        {{ product.titleEng }}
                                    {% endif %}
                                    {% if locale == 'ru' %}
                                        {{ product.titleRus }}
                                    {% endif %}
                                    {% if locale == 'am' %}
                                        {{ product.titleArm }}
                                    {% endif %}
                                </p>
                                <img src="{% path product.image, 'big' %}" alt="">
                                <span class="vMore">{{ "product.viewAll"|trans|upper }}</span>
                                </a>
                            </div>

                        {% endfor %}

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

