<div class="row">
    {% set locale = app.request.get('_locale') %}
    {% set route = app.request.get('_route') %}
    {% if view is defined and view == 'like' %}
        {% set class = 'col-md-3' %}
    {% else %}
        {% set class = 'col-md-4' %}
    {% endif %}
    <div class="products">
        <div class="col-md-12">
            <div class="pull-right sorting">
                <form action="" method="get" class="pull-left" id="rightFilterForm">

                    {% if sort is defined %}
                        <select name="sorted" class="selectpicker" id="sortProducts" onchange="this.form.submit()">
                            <option value="newest" {% if sort == 'newest' %}selected{% endif %}>{{ "product.newest"|trans }}</option>
                            <option value="price-high" {% if sort == 'price-high' %}selected{% endif %}>{{ "product.priceHL"|trans }}</option>
                            <option value="price-low" {% if sort == 'price-low' %}selected{% endif %}>{{ "product.priceLH"|trans }}</option>
                        </select>
                    {% endif %}

                    {% if count is defined %}
                        <select name="count" class="selectpicker" id="sortProducts" onchange="this.form.submit()">
                            <option value="2" {% if count == 2 %}selected{% endif %}>2 per page</option>
                            <option value="4" {% if count == 4 %}selected{% endif %}>4 per page</option>
                            <option value="6" {% if count == 6 %}selected{% endif %}>6 per page</option>
                        </select>
                    {% endif %}

                </form>


            </div>
        </div>
        {% for product in products  %}
            {#{% if view == 'grid' %}#}
                <div class="{{ class }}">
                    {% set url = path('app_single_product', {'category': product.category.slug, 'slug': product.slug}) %}
                    <div class="carouselImgDiv">
                        <a href="{{ url }}"
                           style="background-image:url({% path product.image, 'big' %}) ">
                        </a>
                    </div>

                    <div class="carouselTitleDiv">
                        <hr class="myHR">

                            <a href="#">
                                {% if product.creator %}
                                    {% if locale == 'en' %}
                                        {{ product.creator.titleEng }}
                                    {% endif %}
                                    {% if locale == 'ru' %}
                                        {{ product.creator.titleRus }}
                                    {% endif %}
                                    {% if locale == 'am' %}
                                        {{ product.creator.titleArm }}
                                    {% endif %}
                                {% endif %}
                            </a><br>

                            <a href="{{ url }}">
                                {% if locale == 'en' %}
                                    {{ product.titleEng }}
                                {% endif %}
                                {% if locale == 'ru' %}
                                    {{ product.titleRus }}
                                {% endif %}
                                {% if locale == 'am' %}
                                    {{ product.titleArm }}
                                {% endif %}
                            </a><br>

                        {% if product.price is not null %}

                            <span class="product-price-item">
                                ${{ product.price }}
                            </span>

                        {% endif %}

                        <span class="productActionIcon">
                             {% if route == 'user_wishes' %}
                                 <a href="javascript:void(0)" onclick="removeWish({{ product.id }},'wish')" id="awish{{ product.id }}">
                                <span class="pull-right wishlist">
                                    <img src="https://img.icons8.com/ios/50/000000/delete-sign.png" id="wish{{ product.id }}" width="18">
                                </span>
                            </a>
                        {% else %}
                                 {% if wishes is defined and product in wishes %}
                                     <a href="javascript:void(0)" onclick="removeWish({{ product.id }})" id="awish{{ product.id }}" class="p0">
                                <span class="pull-right wishlist">
                                    <i class="fa fa-heart" aria-hidden="true" id="wish{{ product.id }}"></i>
                                </span>
                                </a>
                            {% else %}
                                     <a href="javascript:void(0)" onclick="addWish({{ product.id }})" id="awish{{ product.id }}" class="p0">
                                <span class="pull-right wishlist">
                                    <i class="fa fa-heart-o" aria-hidden="true" id="wish{{ product.id }}"></i>
                                </span>
                                </a>
                                 {% endif %}
                             {% endif %}

                        </span>


                    </div>
                </div>
        {% endfor %}
    </div>
    {% if route == 'app_products' %}
    <div class="col-sm-12 tac">
        {{ knp_pagination_render(products) }}
    </div>
    {% endif %}
</div>
