<div class="row">
    <div class="products">
        {% for product in products  %}
            {% if view == 'grid' %}
                <div class="col-md-4">
                    {% set url = path('app_single_product', {'category': product.category.slug, 'slug': product.slug}) %}
                    <div class="carouselImgDiv">
                        <a href="{{ url }}"
                           style="background-image:url({% path product.image, 'big' %}) ">
                        </a>
                    </div>

                    <div class="carouselTitleDiv">
                        <hr class="myHR">
                        <p class="text-center">
                            <a href="{{ url }}">
                                {% if locale == 'en' %}
                                    {{ product.titleEng }}
                                {% endif %}
                                {% if locale == 'ru' %}
                                    {{ product.titleRus }}
                                {% endif %}
                                {% if locale == 'am' %}
                                    {{ product.titleArm }}
                                {% endif %}
                            </a>

                                {% if wishes is defined and product in wishes %}
                                    <a href="javascript:void(0)" onclick="removeWish({{ product.id }})" id="awish{{ product.id }}" class="p0">
                                        <span class="pull-right wishlist">
                                            <i class="fa fa-heart" aria-hidden="true" id="wish{{ product.id }}"></i>
                                        </span>
                                    </a>
                                {% else %}
                                    <a href="javascript:void(0)" onclick="addWish({{ product.id }})" id="awish{{ product.id }}" class="p0">
                                        <span class="pull-right wishlist">
                                            <i class="fa fa-heart-o" aria-hidden="true" id="wish{{ product.id }}"></i>
                                        </span>
                                    </a>
                                {% endif %}
                            {% if product.price is not null %}
                            <span class="product-price">
                                <span class="product-price-item">
                                    ${{ product.price }}
                                </span>
                            </span>
                            {% endif %}
                        </p>
                    </div>
                </div>
            {% elseif view == 'list' %}
                <div class="col-md-12">
                    <div class="listOneProduct">
                        <div class="row">
                            <div class="col-md-4">
                                {% set url = path('app_single_product', {'category': product.category.slug, 'slug': product.slug}) %}
                                <div class="carouselImgDiv">
                                    <a href="{{ url }}"
                                       style="background-image:url({% path product.image, 'big' %}) ">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="product-title-list">
                                    <div class="product-name">
                                        {% if locale == 'en' %}
                                            {{ product.creator.titleEng }}<br>
                                            {{ product.titleEng }}
                                        {% elseif locale == 'ru' %}
                                            {{ product.creator.titleRus }}<br>
                                            {{ product.titleRus }}
                                        {% elseif locale == 'am' %}
                                            {{ product.creator.titleArm }}<br>
                                            {{ product.titleArm }}
                                        {% endif %}
                                    </div>
                                </div>
                                {% if product.price is not null %}
                                    <span class="product-price">
                                        <span class="product-price-item p0">
                                            ${{ product.price }}
                                        </span>
                                    </span>
                                {% endif %}

                            </div>
                            <div class="col-md-4">
                                <div class="buttons text-center">
                                    <a href="{{ path('app_single_product', {'category': product.category.slug, 'slug': product.slug}) }}"
                                       class="btn btn-gold-white btn-lg mt15">{{ "product.viewDeatils"|trans|upper }}</a>
                                    {% if product.price is null %}
                                        <a href="#" class="btn btn-gold-white btn-lg mt15">{{ "product.makeOffer"|trans|upper }}</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
