{% extends 'AppBundle::layout.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <script src="{{ asset('js/jssor.slider-28.0.0.min.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        window.jssor_1_slider_init = function() {

            var jssor_1_SlideshowTransitions = [
                {$Duration:800,x:0.3,$During:{$Left:[0.3,0.7]},$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
                {$Duration:800,x:-0.3,$SlideOut:true,$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
                {$Duration:800,x:-0.3,$During:{$Left:[0.3,0.7]},$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
                {$Duration:800,x:0.3,$SlideOut:true,$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
                {$Duration:800,y:0.3,$During:{$Top:[0.3,0.7]},$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
                {$Duration:800,y:-0.3,$SlideOut:true,$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
                {$Duration:800,y:-0.3,$During:{$Top:[0.3,0.7]},$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
                {$Duration:800,y:0.3,$SlideOut:true,$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
                {$Duration:800,x:0.3,$Cols:2,$During:{$Left:[0.3,0.7]},$ChessMode:{$Column:3},$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
                {$Duration:800,x:0.3,$Cols:2,$SlideOut:true,$ChessMode:{$Column:3},$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
                {$Duration:800,y:0.3,$Rows:2,$During:{$Top:[0.3,0.7]},$ChessMode:{$Row:12},$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
                {$Duration:800,y:0.3,$Rows:2,$SlideOut:true,$ChessMode:{$Row:12},$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
                {$Duration:800,y:0.3,$Cols:2,$During:{$Top:[0.3,0.7]},$ChessMode:{$Column:12},$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
                {$Duration:800,y:-0.3,$Cols:2,$SlideOut:true,$ChessMode:{$Column:12},$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
                {$Duration:800,x:0.3,$Rows:2,$During:{$Left:[0.3,0.7]},$ChessMode:{$Row:3},$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
                {$Duration:800,x:-0.3,$Rows:2,$SlideOut:true,$ChessMode:{$Row:3},$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
                {$Duration:800,x:0.3,y:0.3,$Cols:2,$Rows:2,$During:{$Left:[0.3,0.7],$Top:[0.3,0.7]},$ChessMode:{$Column:3,$Row:12},$Easing:{$Left:$Jease$.$InCubic,$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
                {$Duration:800,x:0.3,y:0.3,$Cols:2,$Rows:2,$During:{$Left:[0.3,0.7],$Top:[0.3,0.7]},$SlideOut:true,$ChessMode:{$Column:3,$Row:12},$Easing:{$Left:$Jease$.$InCubic,$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
                {$Duration:800,$Delay:20,$Clip:3,$Assembly:260,$Easing:{$Clip:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
                {$Duration:800,$Delay:20,$Clip:3,$SlideOut:true,$Assembly:260,$Easing:{$Clip:$Jease$.$OutCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
                {$Duration:800,$Delay:20,$Clip:12,$Assembly:260,$Easing:{$Clip:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
                {$Duration:800,$Delay:20,$Clip:12,$SlideOut:true,$Assembly:260,$Easing:{$Clip:$Jease$.$OutCubic,$Opacity:$Jease$.$Linear},$Opacity:2}
            ];

            var jssor_1_options = {
                $AutoPlay: 1,
                $SlideshowOptions: {
                    $Class: $JssorSlideshowRunner$,
                    $Transitions: jssor_1_SlideshowTransitions,
                    $TransitionsOrder: 1
                },
                $ArrowNavigatorOptions: {
                    $Class: $JssorArrowNavigator$
                },
                $ThumbnailNavigatorOptions: {
                    $Class: $JssorThumbnailNavigator$,
                    $SpacingX: 5,
                    $SpacingY: 5
                }
            };

            var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);

            /*#region responsive code begin*/

            var MAX_WIDTH = 980;

            function ScaleSlider() {
                var containerElement = jssor_1_slider.$Elmt.parentNode;
                var containerWidth = containerElement.clientWidth;

                if (containerWidth) {

                    var expectedWidth = Math.min(MAX_WIDTH || containerWidth, containerWidth);

                    jssor_1_slider.$ScaleWidth(expectedWidth);
                }
                else {
                    window.setTimeout(ScaleSlider, 30);
                }
            }

            ScaleSlider();

            $Jssor$.$AddEvent(window, "load", ScaleSlider);
            $Jssor$.$AddEvent(window, "resize", ScaleSlider);
            $Jssor$.$AddEvent(window, "orientationchange", ScaleSlider);
            /*#endregion responsive code end*/
        };
    </script>
    <style>
        /*jssor slider loading skin spin css*/
        .jssorl-009-spin img {
            animation-name: jssorl-009-spin;
            animation-duration: 1.6s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        @keyframes jssorl-009-spin {
            from { transform: rotate(0deg); }
            to { transform: rotate(360deg); }
        }

        /*jssor slider arrow skin 106 css*/
        .jssora106 {display:block;position:absolute;cursor:pointer;}
        .jssora106 .c {fill:#fff;opacity:.3;}
        .jssora106 .a {fill:none;stroke:#000;stroke-width:350;stroke-miterlimit:10;}
        .jssora106:hover .c {opacity:.5;}
        .jssora106:hover .a {opacity:.8;}
        .jssora106.jssora106dn .c {opacity:.2;}
        .jssora106.jssora106dn .a {opacity:1;}
        .jssora106.jssora106ds {opacity:.3;pointer-events:none;}

        /*jssor slider thumbnail skin 101 css*/
        .jssort101 .p {position: absolute;top:0;left:0;box-sizing:border-box;background:#000;}
        .jssort101 .p .cv {position:relative;top:0;left:0;width:100%;height:100%;border:2px solid #000;box-sizing:border-box;z-index:1;}
        .jssort101 .a {fill:none;stroke:#fff;stroke-width:400;stroke-miterlimit:10;visibility:hidden;}
        .jssort101 .p:hover .cv, .jssort101 .p.pdn .cv {border:none;border-color:transparent;}
        .jssort101 .p:hover{padding:2px;}
        .jssort101 .p:hover .cv {background-color:rgba(0,0,0,6);opacity:.35;}
        .jssort101 .p:hover.pdn{padding:0;}
        .jssort101 .p:hover.pdn .cv {border:2px solid #fff;background:none;opacity:.35;}
        .jssort101 .pav .cv {border-color:#fff;opacity:.35;}
        .jssort101 .pav .a, .jssort101 .p:hover .a {visibility:visible;}
        .jssort101 .t {position:absolute;top:0;left:0;width:100%;height:100%;border:none;opacity:.6;}
        .jssort101 .pav .t, .jssort101 .p:hover .t{opacity:1;}
    </style>
{% endblock %}


{% block breadcrumbs %}
    {% set locale = app.request.get('_locale') %}
    <div class="row">
        <ol class="breadcrumb" id="myBreadcrumb">
            <li><a href="{{ path('app_homepage') }}">Home</a></li>
            {% if category.parent.parent %}
                <li>
                    <a href="{{ path('app_products', {'category': category.parent.parent.slug}) }}">
                        {% if locale == 'en' %}
                            {{ category.parent.parent.titleEng }}
                        {% elseif locale == 'ru' %}
                            {{ category.parent.parent.titleRus }}
                        {% elseif locale == 'am' %}
                            {{ category.parent.parent.titleArm }}
                        {% endif %}
                    </a>
                </li>
            {% endif %}
            {% if category.parent %}
                <li>
                    <a href="{{ path('app_products', {'category': category.parent.slug}) }}">
                        {% if locale == 'en' %}
                            {{ category.parent.titleEng }}
                        {% elseif locale == 'ru' %}
                            {{ category.parent.titleRus }}
                        {% elseif locale == 'am' %}
                            {{ category.parent.titleArm }}
                        {% endif %}
                    </a>
                </li>
            {% endif %}
            <li>
                {% if category.children|length > 0 %}
                    {% set url = path('app_products', {'category': child.slug}) %}
                {% else %}
                    {% set url = path('app_products', {'category': category.parent.slug }) %}
                {% endif %}
                <a href="{{ url }}">
                    {% if locale == 'en' %}
                        {{ category.titleEng }}
                    {% elseif locale == 'ru' %}
                        {{ category.titleRus }}
                    {% elseif locale == 'am' %}
                        {{ category.titleArm }}
                    {% endif %}
                </a>
            </li>
        </ol>
    </div>
{% endblock %}

{% block content %}
    {% set locale = app.request.get('_locale') %}
    <div class="row mt15 singleProductTop">
        <div class="col-md-9">
            <div class="singleProductLeft">

                <div id="jssor_1" style="position:relative;margin:0 auto;top:0px;left:0px;width:980px;height:480px;overflow:hidden;visibility:hidden;">
                    <!-- Loading Screen -->
                    <div data-u="loading" class="jssorl-009-spin" style="position:absolute;top:0px;left:0px;width:100%;height:100%;text-align:center;background-color:rgba(0,0,0,0.7);">
                        <img style="margin-top:-19px;position:relative;top:50%;width:38px;height:38px;" src="{{ asset('img/spin.svg') }}" />
                    </div>
                    <div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:980px;height:380px;overflow:hidden;">
                        <div>
                            <img data-u="image" src="{% path product.image, 'reference' %}" class="img-responsive" />
                            <img data-u="thumb" src="{% path product.image, 'big' %}" />
                        </div>

                        {% if product.gallery %}
                            {% for image in product.gallery.galleryHasMedias  %}
                                <div>
                                    <img data-u="image" src="{% path image.media, 'reference' %}" class="img-responsive" />
                                    <img data-u="thumb" src="{% path image.media, 'big' %}" />
                                </div>
                            {% endfor %}
                        {% endif %}

                    </div><a data-scale="0" href="https://www.jssor.com" style="display:none;position:absolute;">web animation</a>
                    <!-- Thumbnail Navigator -->
                    <div data-u="thumbnavigator" class="jssort101" style="position:absolute;left:0px;bottom:0px;width:980px;height:100px;background-color:#000;" data-autocenter="1" data-scale-bottom="0.75">
                        <div data-u="slides">
                            <div data-u="prototype" class="p" style="width:190px;height:90px;">
                                <div data-u="thumbnailtemplate" class="t"></div>
                                <svg viewbox="0 0 16000 16000" class="cv">
                                    <circle class="a" cx="8000" cy="8000" r="3238.1"></circle>
                                    <line class="a" x1="6190.5" y1="8000" x2="9809.5" y2="8000"></line>
                                    <line class="a" x1="8000" y1="9809.5" x2="8000" y2="6190.5"></line>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <!-- Arrow Navigator -->
                    <div data-u="arrowleft" class="jssora106" style="width:55px;height:55px;top:162px;left:30px;" data-scale="0.75">
                        <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                            <circle class="c" cx="8000" cy="8000" r="6260.9"></circle>
                            <polyline class="a" points="7930.4,5495.7 5426.1,8000 7930.4,10504.3 "></polyline>
                            <line class="a" x1="10573.9" y1="8000" x2="5426.1" y2="8000"></line>
                        </svg>
                    </div>
                    <div data-u="arrowright" class="jssora106" style="width:55px;height:55px;top:162px;right:30px;" data-scale="0.75">
                        <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                            <circle class="c" cx="8000" cy="8000" r="6260.9"></circle>
                            <polyline class="a" points="8069.6,5495.7 10573.9,8000 8069.6,10504.3 "></polyline>
                            <line class="a" x1="5426.1" y1="8000" x2="10573.9" y2="8000"></line>
                        </svg>
                    </div>
                </div>
                <script type="text/javascript">jssor_1_slider_init();
                </script>
            </div>
        </div>
        <div class="col-md-3">
            <div class="singleProductRight">

                <p>{% if locale == 'en' %}
                    {{ product.creator.titleEng }}
                {% endif %}
                {% if locale == 'ru' %}
                    {{ product.creator.titleRus }}
                {% endif %}
                {% if locale == 'am' %}
                    {{ product.creator.titleArm }}
                {% endif %}
                </p>
                <p>
                    {% if locale == 'en' %}
                        {{ product.titleEng }}
                    {% endif %}
                    {% if locale == 'ru' %}
                        {{ product.titleRus }}
                    {% endif %}
                    {% if locale == 'am' %}
                        {{ product.titleArm }}
                    {% endif %}
                </p>

                {% if product.year %}
                    <p> {{ product.year }}</p>
                {% endif %}

                {% if product.price is not null %}
                        <p>${{ product.price }}</p>
                {% endif %}

                <div id="about">
                    <p>
                        {% if locale == 'en' %}
                            {{ product.textEng|raw }}
                        {% endif %}
                        {% if locale == 'ru' %}
                            {{ product.textRus|raw }}
                        {% endif %}
                        {% if locale == 'am' %}
                            {{ product.textArm|raw }}
                        {% endif %}
                    </p>

                </div>

                {% if cart[product.id] is  defined %}
                    <p>{{ "product.in_cart"|trans }}</p>
                {% else %}
                    <div class="buttons registerForm">
                        <a href="javascript:void(0)" onclick="addToCart({{ product.id }})" class="btn btn-gold-white btn-lg mt15 w100 h46">
                            {{ "product.purchase"|trans }}
                        </a>
                    {% if wishes is defined and product in wishes %}
                        <a href="javascript:void(0)" onclick="removeWish({{ product.id }})" id="awish{{ product.id }}"
                           class="btn btn-gold-white btn-lg mt15 uppercase singleWishRemove w100 h46">
                            {{ "product.remove_wishlist"|trans }}
                        </a>
                        {% else %}
                            <a href="javascript:void(0)" onclick="addWish({{ product.id }})" id="awish{{ product.id }}"
                               class="btn btn-gold-white btn-lg mt15 uppercase singleWishAdd w100 h46">
                                {{ "product.add_wishlist"|trans }}
                            </a>
                        {% endif %}
                    </div>
                {% endif %}

         {#       {% if product.price is null %}
                    <div class="buttons">
                        <button  data-toggle="modal" data-target="#priceRequest" class="btn btn-gold btn-lg mt15 h46 w100">{{ "product.price_request"|trans|upper }}</button>
                        <a href="#" class="btn btn-gold btn-lg mt15">{{ "product.contact_seller"|trans|upper }}</a>
                    </div>

                {% endif %}
#}


                <div class="productInfo">
                    <hr class="myhr w100">
                    <a href="#details" class="text-black" data-toggle="collapse">
                        Details <span class="pull-right"><i class="fa fa-angle-up"></i></span></a>

                    <div id="details" class="collapse in pt30">
                        <p>{{ "product.ref_number"|trans }}: {{ product.refId }}</p>
                        {% for detail in product.details  %}
                            <div class="detailDiv">

                                {% if locale == 'en' %}
                                    <p>{{ detail.titleEng }}: {{ detail.valueEng }}</p>
                                {% endif %}
                                {% if locale == 'ru' %}
                                    <p>{{ detail.titleRus }}: {{ detail.valueRus }}</p>
                                {% endif %}
                                {% if locale == 'am' %}
                                    <p>{{ detail.titleRus }}: {{ detail.valueRus }}</p>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    <hr class="myhr w100">
                    <a href="#shipping" class="text-black" data-toggle="collapse">
                        Shipping & Returns <span class="pull-right"><i class="fa fa-angle-up"></i></span></a>

                    <div id="shipping" class="collapse in pt30">
                        Standard Shipping <br>
                        Delivery in 5-8 working days <br>
                        Express Shipping
                        Delivery in 2-4 working days
                        Next Day Shipping
                        Delivery guaranteed next working day
                        Saturday Shipping
                        Delivery guaranteed on Saturday morning
                        Delivery times begin one business day after the order is placed. This is due to the time difference between North America and Italy, where most of our items are shipped from.

                        You will receive an email containing your Tracking Number once your package has been shipped from our U.S. distribution center. Visit My Order to check the most up-to-date status of your order.
                        Easy returns
                        You have 20 days from delivery to follow our quick and easy return or exchange procedure. You can find more information in Returns and Refunds.
                        We have decided to prolong the returns period to 60 days for all orders made between March 1st and June 14th, 2020, to give you more time to decide if you want to keep or return your purchases.
                        Normal conditions of return will apply to orders made after June 15th.
                        Please consult our Return Policy for more information.
                    </div>
                    <hr class="myhr w100">
                </div>

            </div>
        </div>
    </div>
    {{ render(controller("AppBundle:Products:alsoLike",{'product':product})) }}

   {# <div class="row productInfoDiv">
        <div class="col-sm-9 col-xs-12">
            <h2>{{ "product.about"|trans }}</h2>
            <h3>
                {% if locale == 'en' %}
                    {{ product.creator.titleEng }}
                {% endif %}
                {% if locale == 'ru' %}
                    {{ product.creator.titleRus }}
                {% endif %}
                {% if locale == 'am' %}
                    {{ product.creator.titleArm }}
                {% endif %}
            </h3>

            <div class="creatorText h144">
                {% if locale == 'en' %}
                    {{ product.creator.textEng|raw }}
                {% endif %}
                {% if locale == 'ru' %}
                    {{ product.creator.textRus|raw }}
                {% endif %}
                {% if locale == 'am' %}
                    {{ product.creator.textArm|raw }}
                {% endif %}
            </div>
            <a class="read-more" href="javascript:readMore()">CONTINUE READING + </a>
        </div>

        </div>
    </div>#}

    {# Price Request modal #}
    <div id="priceRequest" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{ "product.price_request"|trans }}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                            <div class="col-sm-6 col-sm-offset-3">
                                <form action="{{ path('app_price_request') }}" method="post">
                                    <div class="form-group">
                                        <label for="phone">{{ "request_form.telephone"|trans|upper }}</label>
                                        <input type="number" name="phone" class="form-control goldInput" required>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" name="m" id="mcheckbox" onclick="check()" value=""/>Add a message</label>
                                    </div>
                                    <div class="form-group">
                                        <textarea name="message" id="message" class="form-control goldInput" style="display: none;" rows="5"></textarea>
                                    </div>
                                    <input type="hidden" name="productId" value="{{ product.id }}">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-gold-white w100">{{ "request_form.submit"|trans|upper }}</button>
                                    </div>
                                </form>
                            </div>
                        {% else %}
                            <h4>
                                Please <a href="{{ path('fos_user_security_login') }}">Log in</a>
                                or <a href="{{ path('fos_user_registration_register') }}">Sign up</a> to make a request
                            </h4>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
    </div>
    {# Price Request modal #}

{% endblock %}

{% block javascriptsBottom %}
    {{ parent() }}
    <script>
        function readMore(){
            $('.read-more').click(function(){
                $('.creatorText').removeClass('h144');
                $('.read-more').addClass('read-less');
                $('.read-more').text('READ LESS');
                $('.read-less').removeClass('read-more');
            });

            $('.read-less').click(function(){
                $('.creatorText').addClass('h144');
                $('.read-less').addClass('read-more');
                $('.read-more').removeClass('read-less');
                $('.read-more').text('CONTINUE READING + ');
            });
        }

        function check() {
            if($('input[name=m]').is(':checked')){
                $('#message').css("display","block");
            }else{
                $('#message').css("display","none");
            }
        }
    </script>
  {#  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <script src="{{ asset('js/slick.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('.slider-for').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                arrows: false,
                fade: true,
                asNavFor: '.slider-nav'
            });
            $('.slider-nav').slick({
                slidesToShow: 3,
                slidesToScroll: 1,
                asNavFor: '.slider-for',
                dots: true,
                centerMode: true,
                focusOnSelect: true
            });
        })

    </script>#}
{% endblock %}
