{% extends 'AppBundle::layout.html.twig' %}


{% block breadcrumbs %}
    {% set locale = app.request.get('_locale') %}
    <div class="row">
        <ol class="breadcrumb" id="myBreadcrumb">
            <li><a href="{{ path('app_homepage') }}">Home</a></li>
            {% if category.parent.parent %}
                <li>
                    <a href="{{ path('app_category', {'slug': category.parent.parent.slug}) }}">
                        {% if locale == 'en' %}
                            {{ category.parent.parent.titleEng }}
                        {% elseif locale == 'ru' %}
                            {{ category.parent.parent.titleRus }}
                        {% elseif locale == 'am' %}
                            {{ category.parent.parent.titleArm }}
                        {% endif %}
                    </a>
                </li>
            {% endif %}
            {% if category.parent %}
                <li>
                    <a href="{{ path('app_category', {'slug': category.parent.slug}) }}">
                        {% if locale == 'en' %}
                            {{ category.parent.titleEng }}
                        {% elseif locale == 'ru' %}
                            {{ category.parent.titleRus }}
                        {% elseif locale == 'am' %}
                            {{ category.parent.titleArm }}
                        {% endif %}
                    </a>
                </li>
            {% endif %}
            <li>
                {% if category.children|length > 0 %}
                    {% set url = path('app_category', {'slug': child.slug}) %}
                {% else %}
                    {% set url = path('app_products', {'category': category.parent.slug, 'slug': category.slug}) %}
                {% endif %}
                <a href="{{ url }}">
                    {% if locale == 'en' %}
                        {{ category.titleEng }}
                    {% elseif locale == 'ru' %}
                        {{ category.titleRus }}
                    {% elseif locale == 'am' %}
                        {{ category.titleArm }}
                    {% endif %}
                </a>
            </li>
        </ol>
    </div>
{% endblock %}

{% block content %}
    {% set locale = app.request.get('_locale') %}
    <div class="row mt15 singleProductTop">
        <div class="col-md-9">
            <div class="singleProductLeft">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="{% path product.image, "big" %}" alt="...">
                        </div>
                        <div class="item">
                            <img src="{% path product.image, "big" %}" alt="...">
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="singleProductRight">

                <p>{% if locale == 'en' %}
                    {{ product.creator.titleEng }}
                {% endif %}
                {% if locale == 'ru' %}
                    {{ product.creator.titleRus }}
                {% endif %}
                {% if locale == 'am' %}
                    {{ product.creator.titleArm }}
                {% endif %}
                </p>
                <p>
                    {% if locale == 'en' %}
                        {{ product.titleEng }}
                    {% endif %}
                    {% if locale == 'ru' %}
                        {{ product.titleRus }}
                    {% endif %}
                    {% if locale == 'am' %}
                        {{ product.titleArm }}
                    {% endif %}
                </p>
               <p> {{ product.year }}</p>


                {% if product.price is not null %}
                        <p>${{ product.price }}</p>
                {% endif %}
                    {% if cart[product.id] is  defined %}
                        <p>{{ "product.in_cart"|trans }}</p>
                    {% else %}
                        <div class="buttons registerForm">
                            <a href="javascript:void(0)" onclick="addToCart({{ product.id }})" class="btn btn-gold-white btn-lg mt15 w100 h46">
                                {{ "product.purchase"|trans }}
                            </a>
                        {% if wishes is defined and product in wishes %}
                            <a href="javascript:void(0)" onclick="removeWish({{ product.id }})" id="awish{{ product.id }}"
                               class="btn btn-gold-white btn-lg mt15 uppercase singleWishRemove w100 h46">
                                {{ "product.remove_wishlist"|trans }}
                            </a>
                            {% else %}
                                <a href="javascript:void(0)" onclick="addWish({{ product.id }})" id="awish{{ product.id }}"
                                   class="btn btn-gold-white btn-lg mt15 uppercase singleWishAdd w100 h46">
                                    {{ "product.add_wishlist"|trans }}
                                </a>
                            {% endif %}
                        </div>
                    {% endif %}

                {% if product.price is null %}
                    <div class="buttons">
                        <button  data-toggle="modal" data-target="#priceRequest" class="btn btn-gold btn-lg mt15 h46 w100">{{ "product.price_request"|trans|upper }}</button>
                        <a href="#" class="btn btn-gold btn-lg mt15">{{ "product.contact_seller"|trans|upper }}</a>
                    </div>

                {% endif %}


                <div class="productInfo">
                    <hr class="myhr w100">
                    <a href="#details" class="text-gold" data-toggle="collapse">
                        Details <span class="pull-right"><i class="fa fa-plus"></i></span></a>

                    <div id="details" class="collapse pt30">
                        <p>{{ "product.ref_number"|trans }}: {{ product.refId }}</p>
                        {% for detail in product.details  %}
                            <div class="detailDiv">

                                {% if locale == 'en' %}
                                    <p>{{ detail.titleEng }}: {{ detail.valueEng }}</p>
                                {% endif %}
                                {% if locale == 'ru' %}
                                    <p>{{ detail.titleRus }}: {{ detail.valueRus }}</p>
                                {% endif %}
                                {% if locale == 'am' %}
                                    <p>{{ detail.titleRus }}: {{ detail.valueRus }}</p>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    <hr class="myhr w100">
                    <a href="#shipping" class="text-gold" data-toggle="collapse">
                        Shipping & Returns <span class="pull-right"><i class="fa fa-plus"></i></span></a>

                    <div id="shipping" class="collapse pt30">
                        Standard Shipping <br>
                        Delivery in 5-8 working days <br>
                        Express Shipping
                        Delivery in 2-4 working days
                        Next Day Shipping
                        Delivery guaranteed next working day
                        Saturday Shipping
                        Delivery guaranteed on Saturday morning
                        Delivery times begin one business day after the order is placed. This is due to the time difference between North America and Italy, where most of our items are shipped from.

                        You will receive an email containing your Tracking Number once your package has been shipped from our U.S. distribution center. Visit My Order to check the most up-to-date status of your order.
                        Easy returns
                        You have 20 days from delivery to follow our quick and easy return or exchange procedure. You can find more information in Returns and Refunds.
                        We have decided to prolong the returns period to 60 days for all orders made between March 1st and June 14th, 2020, to give you more time to decide if you want to keep or return your purchases.
                        Normal conditions of return will apply to orders made after June 15th.
                        Please consult our Return Policy for more information.
                    </div>
                    <hr class="myhr w100">
                    <a href="#about" class="text-gold" data-toggle="collapse">
                        About <span class="pull-right"><i class="fa fa-plus"></i></span></a>
                    <div id="about" class="collapse p30">
                        {% if locale == 'en' %}
                            {{ product.textEng|raw }}
                        {% endif %}
                        {% if locale == 'ru' %}
                            {{ product.textRus|raw }}
                        {% endif %}
                        {% if locale == 'am' %}
                            {{ product.textArm|raw }}
                        {% endif %}
                    </div>
                    <hr class="myhr w100">

                </div>

            </div>
        </div>
    </div>
    {{ render(controller("AppBundle:Products:alsoLike",{'product':product})) }}

   {# <div class="row productInfoDiv">
        <div class="col-sm-9 col-xs-12">
            <h2>{{ "product.about"|trans }}</h2>
            <h3>
                {% if locale == 'en' %}
                    {{ product.creator.titleEng }}
                {% endif %}
                {% if locale == 'ru' %}
                    {{ product.creator.titleRus }}
                {% endif %}
                {% if locale == 'am' %}
                    {{ product.creator.titleArm }}
                {% endif %}
            </h3>

            <div class="creatorText h144">
                {% if locale == 'en' %}
                    {{ product.creator.textEng|raw }}
                {% endif %}
                {% if locale == 'ru' %}
                    {{ product.creator.textRus|raw }}
                {% endif %}
                {% if locale == 'am' %}
                    {{ product.creator.textArm|raw }}
                {% endif %}
            </div>
            <a class="read-more" href="javascript:readMore()">CONTINUE READING + </a>
        </div>

        </div>
    </div>#}

    {# Price Request modal #}
    <div id="priceRequest" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{ "product.price_request"|trans }}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                            <div class="col-sm-6 col-sm-offset-3">
                                <form action="{{ path('app_price_request') }}" method="post">
                                    <div class="form-group">
                                        <label for="phone">{{ "request_form.telephone"|trans|upper }}</label>
                                        <input type="number" name="phone" class="form-control goldInput" required>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" name="m" id="mcheckbox" onclick="check()" value=""/>Add a message</label>
                                    </div>
                                    <div class="form-group">
                                        <textarea name="message" id="message" class="form-control goldInput" style="display: none;" rows="5"></textarea>
                                    </div>
                                    <input type="hidden" name="productId" value="{{ product.id }}">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-gold-white w100">{{ "request_form.submit"|trans|upper }}</button>
                                    </div>
                                </form>
                            </div>
                        {% else %}
                            <h4>
                                Please <a href="{{ path('fos_user_security_login') }}">Log in</a>
                                or <a href="{{ path('fos_user_registration_register') }}">Sign up</a> to make a request
                            </h4>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
    </div>
    {# Price Request modal #}

{% endblock %}

{% block javascriptsBottom %}
    {{ parent() }}
    <script>
        function readMore(){
            $('.read-more').click(function(){
                $('.creatorText').removeClass('h144');
                $('.read-more').addClass('read-less');
                $('.read-more').text('READ LESS');
                $('.read-less').removeClass('read-more');
            });

            $('.read-less').click(function(){
                $('.creatorText').addClass('h144');
                $('.read-less').addClass('read-more');
                $('.read-more').removeClass('read-less');
                $('.read-more').text('CONTINUE READING + ');
            });
        }

        function check() {
            if($('input[name=m]').is(':checked')){
                $('#message').css("display","block");
            }else{
                $('#message').css("display","none");
            }
        }


    </script>
{% endblock %}
