

    {% set locale = app.request.get('_locale') %}
    {% if category %}
        {% if category.children|length > 0 %}
            <div class="row">
                {% for child in category.children  %}
                    <div class="col-md-2 col-xs-3">
                        <div class="carouselImgDiv">
                            {% if child.children|length > 0 %}
                                {% set url = path('app_products', {'category': child.slug}) %}
                            {% else %}
                                {% set url = path('app_products', {'category': category.slug}) %}
                            {% endif %}
                            <a href="{{ url }}" style="background-image:url({% path child.image, 'big' %})"></a>
                        </div>

                        <div class="carouselTitleDiv">
                            <hr class="myHR">
                            <p class="text-center">
                                <a href="{{ url }}">
                                    {% if locale == 'en' %}
                                        {{ child.titleEng }}
                                    {% endif %}
                                    {% if locale == 'ru' %}
                                        {{ child.titleRus }}
                                    {% endif %}
                                    {% if locale == 'am' %}
                                        {{ child.titleArm }}
                                    {% endif %}
                                </a>
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

    {% endif %}


