{% if categories|length > 0 %}
    {% set locale = app.request.get('_locale') %}
    <div id="shopBycategory" class="text-center">
        <div class="row">
            <div class="col-xs-12">
                <div class="text-center">
                    <h2 class="module-header">
                        {% if locale == 'en' %}
                            {{ title.titleEng }}
                        {% endif %}
                        {% if locale == 'ru' %}
                            {{ title.titleRus }}
                        {% endif %}
                        {% if locale == 'am' %}
                            {{ title.titleArm }}
                        {% endif %}
                    </h2>
                </div>
                <div class="shopBy owl-carousel owl-theme">
                    {% for categorObj in categories  %}
                        <div class="item topCarousel">
                            <div class="carouselImgDiv">
                                <a href="{{ path('app_products',{ 'category' : categorObj.slug }) }}" style="background-image:url({% path category.image, 'big' %}) ">
                                    {#<img src="{% path product.image, 'big' %}" alt="">#}
                                </a>
                            </div>
                            {#<div class="carouselImgDiv">#}
                                {#<a href="{{ path('app_category',{ '_locale' : locale, 'slug' : category.slug }) }}">#}
                                    {#<img src="{% path category.image, 'big' %}" alt="">#}
                                {#</a>#}
                            {#</div>#}

                            <div class="carouselTitleDiv">
                                <hr>
                                <p class="text-center">
                                    <a href="{{ path('app_products',{ 'category' : categorObj.slug }) }}">
                                        {% if locale == 'en' %}
                                            {{ categorObj.titleEng }}
                                        {% endif %}
                                        {% if locale == 'ru' %}
                                            {{ categorObj.titleRus }}
                                        {% endif %}
                                        {% if locale == 'am' %}
                                            {{ categorObj.titleArm }}
                                        {% endif %}
                                    </a>
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endif %}
