{% if form_errors(form.title) %}
    {% set hasErrorTitle = 'has-error' %}
{% else %}
    {% set hasErrorTitle = '' %}
{% endif %}

{% if form_errors(form.firstname) %}
    {% set hasErrorFirst = 'has-error' %}
{% else %}
    {% set hasErrorFirst = '' %}
{% endif %}

{% if form_errors(form.lastname) %}
    {% set hasErrorLast = 'has-error' %}
{% else %}
    {% set hasErrorLast = '' %}
{% endif %}

{% if form_errors(form.username) %}
    {% set hasErrorUsername = 'has-error' %}
{% else %}
    {% set hasErrorUsername = '' %}
{% endif %}


{% if form_errors(form.email) %}
    {% set hasErrorEmail = 'has-error' %}
{% else %}
    {% set hasErrorEmail = '' %}
{% endif %}


{% if form_errors(form.plainPassword.first) %}
    {% set hasErrorPass = 'has-error' %}
{% else %}
    {% set hasErrorPass = '' %}
{% endif %}


<div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
        <div class="text-center">
            <h2 class="module-header">
                {{ "user.register"|trans }}
            </h2>
        </div>
        <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="registerForm" role="form" novalidate>
            <div class="form-group forTitle {{ hasErrorTitle }} has-feedback">
                {{ form_label(form.title) }}<span class="mandatory">*</span>
                {{ form_widget(form.title,{'attr' : { 'class' : 'pl0' } }) }}
                <div class="errorDiv pl0">{{ form_errors(form.title) }}</div>
            </div>
            <div class="form-group {{ hasErrorFirst }} has-feedback">
                {{ form_label(form.firstname) }}<span class="mandatory">*</span>
                {{ form_widget(form.firstname,{'attr' : { 'class' : 'goldInput form-control input-lg', 'autocomplete' : 'off' }}) }}
                <div class="errorDiv pl0">{{ form_errors(form.firstname) }}</div>
            </div>
            <div class="form-group {{ hasErrorLast }} has-feedback">
                {{ form_label(form.lastname) }}<span class="mandatory">*</span>
                {{ form_widget(form.lastname,{'attr' : { 'class' : 'goldInput form-control input-lg', 'autocomplete' : 'off' }}) }}
                <div class="errorDiv pl0">{{ form_errors(form.lastname) }}</div>
            </div>
            <div class="form-group {{ hasErrorUsername }} has-feedback">
                {{ form_label(form.username) }}<span class="mandatory">*</span>
                {{ form_widget(form.username,{'attr' : { 'class' : 'goldInput form-control input-lg', 'autocomplete' : 'off' }}) }}
                <div class="errorDiv pl0">{{ form_errors(form.username) }}</div> 
            </div>
            <div class="form-group {{ hasErrorEmail }} has-feedback">
                {{ form_label(form.email) }}<span class="mandatory">*</span>
                {{ form_widget(form.email,{'attr' : { 'class' : 'goldInput form-control input-lg', 'autocomplete' : 'off' }}) }}
                <div class="errorDiv pl0">{{ form_errors(form.email) }}</div>
            </div>
            <div class="form-group {{ hasErrorPass }} has-feedback">
                {{ form_label(form.plainPassword.first) }}<span class="mandatory">*</span>
                {{ form_widget(form.plainPassword.first,{'attr' : { 'class' : 'goldInput form-control input-lg', 'autocomplete' : 'off' }}) }}
                <div class="errorDiv pl0">{{ form_errors(form.plainPassword.first) }}</div>
            </div>
            <div class="form-group {{ hasErrorPass }} has-feedback">
                {{ form_label(form.plainPassword.second) }}<span class="mandatory">*</span>
                {{ form_widget(form.plainPassword.second,{'attr' : { 'class' : 'goldInput form-control input-lg', 'autocomplete' : 'off' }}) }}
                <div class="errorDiv pl0">{{ form_errors(form.plainPassword.second) }}</div>
            </div>


            {{ form_rest(form) }}
            <div>
                <button type="submit" class="btn btn-gold-white w100 btn-lg">{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}</button>
            </div>
        </form>
    </div>
</div>


