<p>Date: {{ "now"|date("m/d/Y") }}</p>
<p>Reference Id: {{ product.refId }}</p>
<p>Phone: {{ number }}</p>
<p>Message: {{ message }}</p>
<p>Email: {{ user.email }}</p>
<p>Name: {{ user.firstname }} {{ user.lastname }}</p>