{% extends "AppBundle::layout.html.twig" %}

{% block content %}

    {% set locale = app.request.get('_locale') %}
    <div class="row">

        <ol class="breadcrumb" id="myBreadcrumb">
            <li><a href="{{ path('app_homepage') }}">Home</a></li>
            <li class="active">

                    log In

            </li>
        </ol>

    </div>
    <div class="row">
        <div class="text-center">
            <h2 class="module-header mb15">
                WELCOME
            </h2>
        </div>
        <div class="col-md-12 text-center">
            <p>Please, enter your username and password to log in.</p>
            <p>ALL FIELDS ARE MANDATORY</p>
            {% if error %}
                <p class="text-danger">{{ error|trans({}, 'FOSUserBundle') }}</p>
            {% endif %}
        </div>
        <div class="col-xs-12 col-md-4 col-md-offset-4">
            <form action="{{ path("fos_user_security_check") }}" method="post" role="form" id="loginForm">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                <div class="form-group">
                    <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
                    <input type="text" id="username" name="_username"
                           value="" class="form-control input-lg goldInput" required="required" autocomplete="new-password" />
                </div>

                <div class="form-group">
                    <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
                    <input type="password" id="password" name="_password" required="required"
                           class="form-control input-lg goldInput" autocomplete="new-password" />
                </div>

                <div class="form-group">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                    <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>

                        <a href="{{ path('fos_user_resetting_request') }}" class="pull-right forgot">Forgot password?</a>

                </div>

                <div class="form-group">
                   <button type="submit" class="btn btn-gold-white w100 btn-lg" name="_submit">LOG IN</button>
                    <div class="mt15">
                        Don't have an account? <a class="text-gold" href="{{ path('fos_user_registration_register') }}">Sign up</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock content %}
