{% if bigBanner %}
    {% set locale = app.request.get('_locale') %}
    <div id="bigBanner">
        <div class="row">
            <div class="col-xs-12">
                <div class="text-center">
                    <h2 class="module-header">
                        {% if locale == 'en' %}
                            {{ title.titleEng }}
                        {% endif %}
                        {% if locale == 'ru' %}
                            {{ title.titleRus }}
                        {% endif %}
                        {% if locale == 'am' %}
                            {{ title.titleArm }}
                        {% endif %}
                    </h2>
                </div>

                <div class="bigBannerImgDiv text-center">
                    <a href="{{ bigBanner.url }}" target="{{ bigBanner.target }}">
                        <img src="{% path bigBanner.image, 'reference' %}" class="img-responsive centered" alt="Banner">
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endif %}
