{% if bigBanner %}
    <div id="bigBanner">
        <div class="row">
            <div class="col-xs-12">
                <div class="text-center">
                    <h2 class="module-header">
                        {{ "product.big_banner_index"|trans }}
                    </h2>
                </div>

                <div class="bigBannerImgDiv">
                    <a href="{{ bigBanner.url }}" target="{{ bigBanner.target }}">
                        <img src="{% path bigBanner.image, 'reference' %}" class="img-responsive" alt="Banner">
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% if catBanners is defined %}
    <div id="catBanners">
        <div class="row">
            {% for banner in catBanners  %}
                <div class="col-xs-12 col-sm-6">
                    <div class="oneCatImg">
                        <a href="{{ banner.url }}" target="{{ banner.target }}">
                            <img src="{% path banner.image, 'reference' %}" class="img-responsive" alt="Banner">
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}