
<ul id="filtersUl">
    {% if app.session.has('filters') %}
        {% set filter = app.session.get('filters') %}
        {# PRICE #}
        {% if filter['minPrice'] is defined  %}
            {% set minPrice = filter['minPrice'] %}
        {% endif %}
        {% if filter['maxPrice'] is defined %}
            {% set maxPrice = filter['maxPrice'] %}
        {% endif %}
        {% if minPrice is defined and maxPrice is defined %}
            <li>
                <a href="javascript:void(0)" name="amount" class="filterValue">
                    PRICE: {{ minPrice|default(null) }} - {{ maxPrice|default(null) }}
                </a>
            </li>
        {% endif %}
        {# PRICE #}

        {# FREE #}
        {% if filter['onSale'] is defined %}
            <li>
                <a href="javascript:void(0)" name="onSale" class="filterValue">
                    ON SALE
                </a>
            </li>
        {% endif %}
        {# FREE #}

        {% if filters['minHeight'] is defined and  filters['maxHeight'] is defined %}
            <li>
                <a href="javascript:void(0)" name="height" class="filterValue">
                    HEIGHT: {{ filters['minHeight']|default(null) }} - {{ filters['maxHeight']|default(null) }}
                </a>
            </li>
        {% endif %}

        {% if filters['minWidth'] is defined and  filters['maxWidth'] is defined %}
            <li>
                <a href="javascript:void(0)" name="width" class="filterValue">
                    WIDTH: {{ filters['minWidth']|default(null) }} - {{ filters['maxWidth']|default(null) }}
                </a>
            </li>
        {% endif %}

        {# COLORS #}
        {% if filter['colors'] is defined %}
            {% set colors = filter['colors'] %}
            {% for key,color in colors %}
                <li>
                    <a href="javascript:void(0)" name="colors" data-id="{{ key }}" class="filterValue">
                        COLOR: {{ color }}
                    </a>
                </li>
            {% endfor %}
        {% endif %}
        {# COLORS #}

        {% if filter['creators'] is defined %}
            {% set creators = filter['creators'] %}
            {% for key,creator in creators %}
                <li>
                    <a href="javascript:void(0)" name="creators" data-id="{{ key }}" class="filterValue">
                        CREATOR: {{ creator }}
                    </a>
                </li>
            {% endfor %}
        {% endif %}

        {# STYLES #}
        {% if filter['styles'] is defined %}
            {% set styles = filter['styles'] %}
            {% for key,style in styles %}
                <li>
                    <a href="javascript:void(0)" name="styles" data-id="{{ key }}" class="filterValue">
                        STYLE: {{ style }}
                    </a>
                </li>
            {% endfor %}
        {% endif %}
        {# STYLES #}

        {% if filter['shippings'] is defined %}
            {% set shippings = filter['shippings'] %}
            {% for key,shipping in shippings %}
                <li>
                    <a href="javascript:void(0)" name="shippings" data-id="{{ key }}" class="filterValue">
                        SHIPPING: {{ shipping }}
                    </a>
                </li>
            {% endfor %}
        {% endif %}

    {% endif %}
</ul>
