{% set locale = app.request.get("_locale") %}
<div id="filtersDiv pl30">
    <div class="filterHeader">
        <p class="uppercase mb30">Filter within {{ products|length }} results</p>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="ccc"></div>
        </div>
    </div>
    <div class="accordionFilter row">
        <div class="col-xs-12">
            {% if app.request.get('minPrice') or app.request.get('maxPrice') %}
                {% set prF = true %}
            {% endif %}
            {% if app.request.get('minWidth') or app.request.get('maxWidth') or app.request.get('minHeight') or app.request.get('maxHeight') %}
                {% set dimF = true %}
            {% endif %}

            {% if categories|length > 0 %}
                <div class="accordion-container">
                    <a href="#" class="accordion-toggle filterLabel">{{ "filters.category"|trans|upper }}
                        <span class="pull-right arrow">
                            <i class="fa fa-angle-up fa-2x"></i>
                        </span>
                    </a>
                    <div class="accordion-content">
                        {% for categoryObj in categories %}
                            <p>
                                <a href="#">
                                    {{ categoryObj.titleEng }}
                                </a>
                            </p>
                        {% endfor %}

                    </div>
                </div>

            {% endif %}

            {% if colors is defined %}
                <div class="accordion-container">
                    <a href="#" class="accordion-toggle filterLabel">{{ "filters.color"|trans|upper }}
                        <span class="pull-right arrow">
                        <i class="fa fa-angle-down fa-2x"></i>
                    </span>
                    </a>
                    <div class="accordion-content" style="display: none;">
                        <div class="row">
                            <div class="col-xs-12">
                                {% for color in colors %}
                                    {% if locale == 'en' %}
                                        <a href="javascript:void(0)" id="color{{ color.titleEng }}" title="{{ color.titleEng }}" class="oneColor"
                                           style="background-color: {{ color.color }};" onclick="addColorFilter('{{ color.titleEng }}')"></a>
                                    {% endif %}
                                    {% if locale == 'ru' %}
                                        <a href="javascript:void(0)" id="color{{ color.titleRus }}" title="{{ color.titleRus }}" class="oneColor"
                                           style="background-color: {{ color.color }};" onclick="addColorFilter('{{ color.titleEng }}')"></a>
                                    {% endif %}
                                    {% if locale == 'am' %}
                                        <a href="javascript:void(0)" id="color{{ color.titleArm }}" title="{{ color.titleArm }}" class="oneColor"
                                           style="background-color: {{ color.color }};" onclick="addColorFilter('{{ color.titleEng }}')"></a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="form-group">
                <button type="button" class="filter_button btn btn-gold-white w100">Search by filter</button>
            </div>
        </div>
    </div>
</div>
